$checkmark_color: #b64240;
$cross_color: #ddd;

/* The container */
.div-checkbox {
  width: 55px;
  height: 26px;
  background: #333;
  margin: 10px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

  &:after {
    content: 'X';
    color: $cross_color;
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
  }

  &:before {
    content: '\2713';
    color: $checkmark_color;
    position: absolute;
    left: 10px;
    z-index: 0;
    top: 2px;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }

  label {
    display: block;
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 6px;
    z-index: 1;
    margin: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label {
      left: 24px;
    }
  }
}
