/* The container */
.div-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    label {
        padding-left: 15px;
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: $main_font_size + 1vw;
    width: $main_font_size + 1vw;
    background-color: $dmg_inc_white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;left: 0.7vw;
    top: 0.3vh;
    border: solid #b64240;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.6vw;
    height: 1.3vw;
}

.div-checkbox input:checked~.checkmark:after {
    display: block;
}

.div-checkbox input:disabled~.checkmark {
    background-color: $dmg_inc_red;
    cursor: not-allowed;
}