.spinner {
  height: 10vh;
  opacity: 1;
  transition: opacity linear 0.1s;
  &::before {
    animation: 1s linear infinite spinner;
    border: solid 3px $dmg_inc_white;
    border-bottom-color: $dmg_inc_red;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}