/* Colors */
$white: #fff;
$primary_bg: #131313;
$table_field_bg_color: #444;
$table_head_bg_color: #292929;

/* Damage Inc */
$dmg_inc_red: #b64240;
$dmg_inc_white: #ddd;

/* Dimensions */
$main_height: 7vh;
$main_font_size: 1.5vw;
$line_height: 1.4;
$nav_menu_width: 210px;
