/* Colors */
$white: #fff;
$primary_bg: #131313;
$secondary_bg: #171717;
$tertiary_bg: #1b1b1b;

/* Damage Inc */
$dmg_inc_red: #b64240;
$dmg_inc_white: #ddd;

/* Dimensions */
$main_height: 7vh;
$main_font_size: 1.5vw;

$line_height: 1.4;

%no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

body {
  padding-top: $main_height + 3vh;
  padding-bottom: $main_height + 3vh;
  padding-left: $main_height * 1.5;
  background-color: $primary_bg;
  font-weight: 600;
  color: $dmg_inc_white;
  font-size: $main_font_size;
}

table {
  width: 100%;
}

h1 {
  font-size: $main_font_size + 1vw;
}

table {
  border-spacing: 0;
}

td {
  padding: 7px 2px;
  background-color: $secondary_bg;
  border: 1px solid $secondary_bg;
  font-size: $main_font_size - 0.5vw;
}

th {
  background-color: $tertiary_bg;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: $line_height;
}

label {
  font-size: $main_font_size - 0.5vw;

  input[type=radio], input[type=checkbox] {
    vertical-align: middle;
    margin-right: 0.5vw;
    height: $main_font_size - 0.7vw;
    width: $main_font_size - 0.7vw;
  }

  input[type=text] {
    margin-left: 0.5vw;
    line-height: $line_height;
  }
}

a {
  color: $dmg_inc_white !important;
  text-decoration: none;
}

button, input[type=submit] {
  background-color: $dmg_inc_red;
  color: $dmg_inc_white;
  border: 0;
  padding: 5px 20px;
}

.main-font-size {
  font-size: $main_font_size;
}

.custom-select {
  margin: $main_height*0.5 0;
  line-height: $line_height;

  select {
    margin-left: 1.5vh;
    max-width: 40vw;
    max-height: 5vh;
    color: black;
  }
}

.add-player > div {
  margin: $main_height*0.5 0;
}

nav {
  padding-bottom: 10vh;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      height: $main_height;
      display: inline;

      :hover {
        background-color: $dmg_inc_white;
        color: $dmg_inc_red !important;
      }
    }
  }
}

.nav-link {
  padding: 3vw;
  width: 10vw;
  background-color: $dmg_inc_red;

}

.nav-link.active {
  background-color: $dmg_inc_white;
  color: $dmg_inc_red !important;
}

@import "spinner";
@import "boxes";
@import "symbols";
@import "helper";
@import "checkboxes";

@import "small-desktop";
@import "tablet";
@import "small-device";
@import "phones";
