@import 'variables';
@import 'helper';

body {
  background-color: $primary_bg;
  font-weight: 600;
  color: $dmg_inc_white;
  font-size: $main_font_size;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  padding: 10px;
  background-color: $table_field_bg_color;
  border: 1px solid $table_field_bg_color;
  font-size: $main_font_size - 0.5vw;
}

th {
  @extend %no-select;
  background-color: $table_head_bg_color;
  text-align: left;
  padding: 10px;
  line-height: $line_height;
}

h1 {
  font-size: $main_font_size + 1vw;
}

label {
  margin: $main_height 0;
  font-size: $main_font_size - 0.5vw;

  input[type=radio], input[type=checkbox] {
    vertical-align: middle;
    margin-right: 0.5vw;
    height: $main_font_size - 0.7vw;
    width: $main_font_size - 0.7vw;
  }

}

input[type=text], input[type=password] {
  margin-top: 1.5vw;
  line-height: $line_height;
}

a {
  color: $dmg_inc_white !important;
  text-decoration: none;
}

button, input[type=submit] {
  background-color: $dmg_inc_red;
  color: $dmg_inc_white;
  border: 0;
  padding: 5px 20px;
}

@import "small-desktop";
@import "tablet";
@import "small-device";
@import "phones";
@import "cropped-phone";
